body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchResults {
  margin-bottom: 1px;
}

/* Container for the tracklist and playlist */
.container {
  display: flex;
  background-color: #282828; 
  color: #fff; 
  margin-top: 20px;
}

/* Styling for the tracklist */
.tracklist {
  flex: 1;
  padding: 20px;
  margin-bottom: 5px;
}

/* Styling for individual tracks in the tracklist */
.track {
  margin-bottom: 15px;
}

/* Styling for the playlist */
.playlist {
  flex: 1;
  padding: 20px;
  background-color: #333; 
}

.playlistName {
  margin-bottom: 5px;
}

button {
  background-color: #10682f; 
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}
button:active {
  background-color: #4CAF50; 
  color: white; 
}

.searchButton {
  margin-top: 5px;
}
.spotifyButton {
  margin-top: 35px;
}
